.dating {
    padding: 1rem;
}

.dating h2 {
    padding: 0;
    margin: 0;
}

.datingGrid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.pageSwitcher {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.pageSwitcher button {
    background: none;
    padding: 0.2rem 0.5rem;
}

.pageSwitcher button.active {
    background: palevioletred;
    font-weight: bold;
}

.pageSwitcher button:hover {
    background: palevioletred;
}

