.dating {
    padding: 1rem;
}

.dating h1 {
    padding: 0;
    margin: 0;
}

.datingGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.active {
    background-color: pink;
}