.messagesContainer {
    padding: 1rem;
    overflow-y: scroll;
	display: grid;
	grid-template-rows: 1fr 2.5rem;
}

.messagesContainer::-webkit-scrollbar-track
{
	border-right: 1px solid #000000;
    border-left: 1px solid #000000;
	background-color: #ffffff;
}

.messagesContainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #ffffff;
}

.messagesContainer::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}