.userBadge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.userPhotoContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.userBadge button {
    background: none;
    border: 2px #000000 solid;
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    font-weight: bold;
}

.userBadge button:hover {
    background: palevioletred;
    border-color: palevioletred;
    color: #ffffff;
}

.userBadge button:disabled {
    background: none;
    border-color: grey;
    color: grey;
}