.profile_picture {
    width: 100%;
}

.profile_info {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

.details p {
    margin: 0.2rem;
}

.details h2 {
    margin-top: 0;
}

.details h1 {
    margin: 0.2rem;
}

.ava {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}