.header {
    background-color: #000000;
    text-align: left;
    padding: 0.5rem 3rem;
}


.logo {
    height: 5rem;
    filter: drop-shadow(4px 4px 0 #ffffff);
    pointer-events: none;
    animation: ani-cat 6s infinite ease-in-out;
}


@keyframes ani-cat {
    0% { filter: drop-shadow(-4px 4px 0 #ffffff); }
    25% { filter: drop-shadow(-4px -4px 0 #ffffff); }
    50% { filter: drop-shadow(4px -4px 0 #ffffff); }
    75% { filter: drop-shadow(4px 4px 0 #ffffff); }
    100% { filter: drop-shadow(-4px 4px 0 #ffffff); }
}