.post_form {
    margin-top: 1.2rem;
}

.post_form h2 {
    margin: 0 0 0.5rem;
}

#post {
    width: 100%;
    resize: none;
    padding: 0.5rem;
}

#post_submit {
    background-color: palevioletred;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0.3rem 0.8rem;
    float: right;
}