.messanges {
    padding: 1rem;
    overflow-y: scroll;
}

.messanges::-webkit-scrollbar-track
{
	border-right: 1px solid #000000;
    border-left: 1px solid #000000;
	background-color: #ffffff;
}

.messanges::-webkit-scrollbar
{
	width: 10px;
	background-color: #ffffff;
}

.messanges::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}